body  {
    margin: 0;
    padding: 0;
}
#bg{
  margin-left: 0;
  margin-right: 0;
  width:100%;
  height: 100%;
  position: fixed;
}

#container{
	width: 960px;
  height: auto;
}

#main-content{
  width: 800px;
}

 /*table*/
#stock-tbl{
  width: 50%;
  position: absolute;
  margin: 15% 0 3% 10%;
  text-align: center;
  font-family: calibri, verdana;
  font-size: 130%;
}

.tbl-sellingprice{
  width: 30%;
}

.tbl-stock{
  width: 16%;
  position: relative;
}
thead{
  background-color: #dddddd;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/*Pagination*/
#cont{
  position: absolute;
  margin-top: 55%;
  margin-left: 40%;"
}

button{
  width: 4em;
  height: 3em;
  font-family: calibri, verdana;
  font-weight: bold;
  border: 1px solid rgb(178, 178, 178);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}

a{
  text-decoration: none;
}

/*Side Content*/
#side-content{
  width: 160px;
  margin: 15% 0 0 70%;
  position: absolute;
}
.note{
  position:absolute;
  margin:20% 0 0 25%;
}

.lbl{
  font-family: calibri, verdana;
  font-size: 120%;
  position: absolute;
  margin: 15% 0 0 -10%;
  font-weight: bold;
}

#search,#select_cat, #select_filter{
  width: 12em;
  margin: 1em 0 0 5em;
  padding: 5px;  
  border: 1px solid rgb(178, 178, 178);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  font-family: calibri, verdana;
  font-size: 110%;
}

#search{
  width: 11.4em;
}

#topitems-tbl{
  margin: 3em 0 1em -1em;
  width: 200%;
  text-align: center;
  font-family: calibri, verdana;
  font-size: 120%;

}

.qnty-tbl{
  width: 25%;
  padding: 1em;
}